<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <title>My Profile</title>
    </head>
    <body>
        <section>

            <div class="col-md-8 offset-md-2" >

                <div class="my-card mt-5">

                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                        <p class="text-center" th:text="${session.message.content}"> </p>
                        <th:block th:text="${#session.removeAttribute('message')}"> </th:block>
                    </div>

                    <h1 class="text-center heading"> Your Profile  </h1>

                    <form action="" th:action="@{/user/updateProfile}" method="post" th:object="${user}">

                        <!-- Name field-->
                        <div class="form-group">
                            <label for="name_field">Your Name</label>
                            <input name="name" type="text" class="form-control" id="name_field" th:value="${user.name}">
                        </div>

                        <!-- email field-->
                        <div class="form-group">
                            <label for="email_field">Your email</label>
                            <input name="email" type="email" class="form-control" readonly="readonly" id="email_field" th:value="${user.email}">
                        </div>

                        <div class="form-row">

                            <!-- age field-->
                            <div class="form-group col-md-6">
                                <label for="age_field">Age</label>
                                <input name="age" type="text" class="form-control" id="age_field" th:value="${user.age}">
                            </div>


                            <!--address field-->
                            <div class="form-group col-md-6">
                                <label for="address_field">Address</label>
                                <input name="address" type="text" class="form-control" id="address_field" th:value="${user.address}">
                            </div>


                            <!--prescription field-->
                            <div class="form-group col-md-12">
                                <label for="prescription_field">Prescription</label>
                                <textarea name="prescription" readonly ="readonly" id="prescription_field" th:field="${user.prescription}" rows="5" class="form-control"> </textarea>
                            </div>


                        </div>

                        <div class="container text-center">
                            <button type="submit" class="btn btn-success mt-4">
                                Update
                            </button>
                        </div>


                    </form>


                </div>
            </div>

        </section>
    </body>
</html>