<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <title> Dashboard</title>
    </head>

    <body>
        <section>

            <div class="text-center mt-5">
                <h1 style="margin-bottom: 170px"> Welcome To Hello Doctor. </h1>
            </div>


           <div class="text-center mt-5">
               <h5 class="mt-5"> Hello <span th:text="${user.name}"></span>, </h5>
               <h5> <span th:text="${user.AppointmentStatus}"></span> </h5>
           </div>

        </section>
    </body>
</html>