<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

    <head>
        <meta charset="UTF-8">
        <title th:text="${title}">Document</title>
    </head>

    <body>
        <section>
            <div class="login-box">
                <h2>Login</h2>

                <div th:if="${param.error}" class="alert alert-danger">
                    Invalid username and password
                </div>


                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out
                </div>

                <form action="#" th:action="@{/dologin}" method="post">

                    <div class="user-box">
                        <input id="username" type="text" name="username" required="">
                        <label>Username</label>
                    </div>

                    <div class="user-box">
                        <input id="password" type="password" name="password" required="">
                        <label>Password</label>
                    </div>

                    <a href="#">
                        <span></span>
                        <input style="background-color: transparent; border: #d3cdcd;" type="submit" value="Log In">
                    </a>

                </form>
            </div>
        </section>
    </body>

</html>